@use "base/variables";
@use "base/mixins";

input[type="text"] {
  border: none;
  background-color: variables.$grey-light;
  color: variables.$black;
  text-align: left;
  outline: none;
  padding: 0 17.3px;
  width: 15.4rem;
}

input[type="text"]:focus {
  border: none;
}

::placeholder {
  color: variables.$black;
}

.explore {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__search {
      text-align: center;
      width: 100%;
      padding-top: 1.2rem;
      padding-bottom: 1.4rem;
      background-color: variables.$grey-light;
    }

    &__title {
      margin-top: 3.7rem;
      padding-left: 3.7rem;
      padding-right: 5rem;
      text-align: center;
    }

    &__subtitle {
      padding-left: 1rem;
      text-align: center;
    }

    &__button {
      background: rgb(255, 121, 218);
      background: -moz-linear-gradient(
        top,
        rgb(255, 121, 218) 0%,
        rgb(147, 86, 220) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgb(255, 121, 218) 0%,
        rgb(147, 86, 220) 100%
      );
      background: linear-gradient(
        to bottom,
        rgb(255, 121, 218) 0%,
        rgb(147, 86, 220) 100%
      );

      margin-top: 2rem;
      margin-left: 0.5rem;
      font-size: 1.68rem;
      padding: 1.4rem 1.5rem;
      text-align: center;
      color: variables.$white;
      box-shadow: 4px 4px 4px variables.$grey;
      border: none;
      border-radius: 30px;
      width: 22rem;
      cursor: pointer;
      display: inline-block;
    }
  }
}
