@use "base/variables";
@use "base/mixins";

input[type="text"] {
  border: none;
  background-color: variables.$transp;
  color: variables.$black;
  text-align: left;
  outline: none;
  padding: 0 1.2rem;
  width: 15.4rem;
}

input[type="text"]:focus {
  border: none;
}

::placeholder {
  color: variables.$black;
}

.explore {
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5.5rem;
    background-color: variables.$grey-light;

    &__search {
      text-align: center;
      width: 100%;
      padding-top: 1.8rem;
      padding-bottom: 0.4rem;
      background-color: variables.$grey;
      font-size: 1.7rem;
      height: 4.8rem;
    }

    &__title {
      width: 65%;
      margin-top: 4rem;
      margin-right: 1.4rem;
      text-align: center;
      color: variables.$black;
    }

    &__subtitle {
      text-align: center;
      padding: 0 2.5rem;
    }

    &__button {
      background: rgb(255, 121, 218);
      background: -moz-linear-gradient(
        top,
        rgb(255, 121, 218) 0%,
        rgb(147, 86, 220) 100%
      );
      background: -webkit-linear-gradient(
        top,
        rgb(255, 121, 218) 0%,
        rgb(147, 86, 220) 100%
      );
      background: linear-gradient(
        to bottom,
        rgb(255, 121, 218) 0%,
        rgb(147, 86, 220) 100%
      );

      margin-top: 2rem;
      margin-left: 0.5rem;
      font-size: 1.6rem;
      padding: 1.5rem 1.5rem;
      text-align: center;
      color: variables.$white;
      box-shadow: 4px 4px 4px variables.$grey-dark;
      border: none;
      border-radius: 30px;
      width: 22.5rem;
      cursor: pointer;
      display: inline-block;
    }
  }
}
