@use "base/variables";
@use "base/utilities";
@use "base/mixins";

.restaurant {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  background-color: variables.$transp;

  &__contain {
    padding: 1rem 2rem;
    align-items: center;
  }

  &__title {
    margin-left: 2rem;
    margin-top: 4.8rem;
  }
}

.card {
  border: 1px solid variables.$grey-light;
  border-radius: 1rem;
  background-color: variables.$transp;
  margin-bottom: 2.3rem;

  &__h_modified {
    margin: 0;
  }

  &__header {
    height: 17.5rem;
    display: flex;

    &__image {
      border-radius: 1rem 1rem 0 0;
      width: 100%;
    }
  }

  &__body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0.8rem;

    &__main {
      width: 80%;
      padding-left: 1.2rem;
      padding-top: 0.8rem;

      &__title {
        font-weight: 600;
        margin-right: 7rem;
      }

      &__subtitle {
        padding-left: 1rem;
        padding-bottom: 1rem;
      }
    }

    &__side {
      width: 20%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .prime,
  .third,
  .fourth {
    object-position: center bottom;
    object-fit: cover;
  }

  .second {
    object-position: 50% 60%;
    object-fit: cover;
  }

  .fa-heart {
    padding-top: 0.3rem;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: variables.$black;
    font-size: 2.4rem;
    cursor: pointer;
    position: relative;
    opacity: 1;
  }
  .fa-heart::after {
    content: "\f004";
    background: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.3px;
    -webkit-text-stroke-color: variables.$transp;
    font-size: 2.4rem;
    position: absolute;
    left: 0;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.6s;
    transition-timing-function: ease-in;
  }
  .fa-heart:hover::after {
    opacity: 1;
  }
}
