@use "variables";
@use "mixins";

html {
  box-sizing: border-box;

  @include mixins.small_device {
    font-size: 80%;
  }
  @include mixins.iphone5 {
    font-size: 53.42%;
  }
  @include mixins.iphone6_8 {
    font-size: 62.5%;
  }
  @include mixins.iphoneX {
    font-size: 69%;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: variables.$font_principal;
  font-size: 1.6rem;
  /*background-image: url("../img/Accueil.png");
  background-repeat: no-repeat;
  background-size: cover;*/
}

p {
  font-size: 1.78rem;
  margin-block-start: 0.7em;
  margin-block-end: 0.7em;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3 {
  margin: 0 0 variables.$separation 0;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.4rem;
}

.muted {
  color: #4f4f4f;
}
