@use "variables";

.text-center {
  text-align: center;
}

.bg-primary {
  background-color: variables.$primary;
}

.title {
  margin-top: 5rem;
  padding: 0 2rem;
}

.content {
  padding: 0 2rem;
  align-items: center;
}
