@use "base/variables";
@use "base/utilities";
@use "base/mixins";

.functioning {
  display: flex;
  flex-direction: column;
  background-color: variables.$white;
  padding-bottom: 2rem;

  &__contain {
    padding: 2rem 2rem;
    align-items: center;
  }
  &__title {
    padding-top: 5.2rem;
    padding-left: 2rem;
  }

  &__choose {
    &__btn {
      position: relative;
      margin-left: 1rem;
      margin-bottom: 2.7rem;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 2.8rem 1.4rem;
      align-content: center;
      text-align: center;
      color: variables.$black;
      box-shadow: 4px 4px 4px lighten(variables.$grey-dark, 8%);
      background-color: variables.$grey-light;
      border: 1px solid variables.$grey-light;
      border-radius: 20px;
      width: 95%;
      height: 7rem;
      cursor: pointer;
      display: inline-block;

      &--primary {
        background-color: variables.$grey-pink;
        border: 1px solid variables.$grey-pink;
      }
    }

    &__badge {
      position: absolute;
      padding-top: 0.4rem;
      left: -1rem;
      border-radius: 2.3rem;
      color: variables.$white;
      width: 2.3rem;
      height: 2.3rem;
      background-color: variables.$primary;
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}

.fa-mobile-alt {
  font-size: 2rem;
  position: absolute;
  left: 5%;
  color: variables.$grey-dark;
  padding-left: 1.2rem;
}

.fa-list-ul {
  font-size: 1.7rem;
  position: absolute;
  left: 5%;
  color: variables.$grey-dark;
  padding-left: 1rem;
}

.fa-store {
  font-size: 1.85rem;
  position: absolute;
  left: 5%;
  color: variables.$primary;
  padding-left: 1rem;
}
