@use "base/variables";
@use "base/utilities";
@use "base/mixins";

.functioning {
  display: flex;
  flex-direction: column;
  background-color: variables.$transp;
  border: 1px solid tomato;

  &__title {
    padding-top: 6rem;
    padding-left: 1.5rem;
  }

  &__choose {
    &__btn {
      position: relative;
      margin-left: 0.78rem;
      margin-bottom: 2.5rem;
      font-size: 1.6rem;
      font-weight: 700;
      padding: 4vh 18vw;
      align-content: center;
      text-align: center;
      color: variables.$tomat;
      box-shadow: 4px 4px 4px variables.$grey;
      background-color: variables.$transp;
      border: 1px solid variables.$tomat;
      border-radius: 20px;
      width: 88vw;
      height: 11vh;
      cursor: pointer;
      display: inline-block;

      &--primary {
        background-color: variables.$grey-pink;
        border: 1px solid variables.$grey-pink;
      }
    }

    &__badge {
      position: absolute;
      padding-top: 0.4rem;
      left: -1rem;
      border-radius: 2.3rem;
      color: variables.$white;
      width: 2.3rem;
      height: 2.3rem;
      background-color: variables.$primary;
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}

.fa-mobile-alt {
  font-size: 2rem;
  position: absolute;
  left: 2.55rem;
  color: variables.$grey-dark;
  padding-left: 1.2rem;
}

.fa-list-ul {
  font-size: 1.7rem;
  position: absolute;
  left: 2.5rem;
  color: variables.$grey-dark;
  padding-left: 1rem;
}

.fa-store {
  font-size: 1.85rem;
  position: absolute;
  left: 3rem;
  color: variables.$primary;
  padding-left: 1rem;
}
