@use "base/variables";
@use "base/utilities";
@use "base/mixins";

.functionnal {
  display: flex;
  flex-direction: column;
  background-color: variables.$white;

  &__choose {
    &__btn {
      position: relative;
      margin-top: 1rem;
      margin-left: 0.8rem;
      margin-bottom: 1rem;
      font-size: 1.57rem;
      font-weight: 700;
      padding: 4vh 1vw;
      align-content: center;
      text-align: center;
      color: variables.$black;
      box-shadow: 4px 4px 4px variables.$grey;
      background-color: variables.$grey-light;
      border: 1px solid variables.$grey-light;
      border-radius: 20px;
      width: 82vw;
      height: 11vh;
      cursor: pointer;
      display: inline-block;

      &--primary {
        background-color: variables.$grey-pink;
        border: 1px solid variables.$grey-pink;
      }
    }

    &__badge {
      position: absolute;
      padding-top: 0.4rem;
      left: -0.8rem;
      border-radius: 2.3rem;
      color: variables.$white;
      width: 2.3rem;
      height: 2.3rem;
      background-color: variables.$primary;
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}

.fa-mobile-alt,
.fa-list-ul {
  font-size: 1.85rem;
  position: absolute;
  left: 2.3rem;
  color: variables.$grey-dark;
  padding-left: 1rem;
}

.fa-store {
  font-size: 1.85rem;
  position: absolute;
  left: 3rem;
  color: variables.$primary;
  padding-left: 1rem;
}
