@use "base/variables";
@use "base/mixins";

/*zone header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  &__logo {
    width: 16rem;
    padding-top: 2.2rem;
    padding-bottom: 1.2rem;

    &--menu {
      margin-right: 27%;
    }
  }

  &__return {
    width: 20%;
    padding: 1rem;
    text-align: center;
  }

  &__button {
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: variables.$white;
  }

  .fa-arrow-left {
    font-size: 2rem;
    color: variables.$black;
  }

  /*adaptation for bigger screen than mobile*/

  @include mixins.tablet {
    flex-direction: row;
    justify-content: space-around;
  }

  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-around;
  }
}
