@use "base/variables";
@use "base/mixins";

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 28rem;
    padding: 2rem;
  }

  &__return {
    width: 5rem;
    padding: 1rem;
  }

  &__button {
    width: 4rem;
    height: 4rem;
    border: none;
    background-color: variables.$white;
  }

  fa {
    font-size: 15px;
    color: variables.$black;
  }

  @include mixins.small_device {
  }

  @include mixins.tablet {
    flex-direction: row;
    justify-content: space-around;
  }

  @include mixins.desktop {
    flex-direction: row;
    justify-content: space-around;
  }
}
