@use "base/variables";
@use "base/mixins";

.header {
  padding: 5rem 0;
  position: relative;

  @include mixins.small_device {
    padding: 4rem;
  }

  @include mixins.tablet {
    padding: 3rem;
  }

  @include mixins.desktop {
    padding: 2rem;
  }
}
